* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .background {
    background-image: url("../../../public/store1.PNG");
    background-size: cover;
   
  }


  .rtu
  {
     


      display: flex;
      align-items: center;
      flex-direction: column;
      height: 80vh;
      width: 30vw;
      background: rgba(255, 255, 255, 0.15);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(8.5px);
      -webkit-backdrop-filter: blur(8.5px);
      border-radius: 10px;
      color: #ffffff;
      text-transform: uppercase;
      margin-left: 74vh;
      padding-top: 10vh;
     
  }

.invalid
{
    font-size: 20px;
    color: red;
    font-weight: bold;
}