.card1
{
    background-color: #99bbff;
  /* margin: 20px; */
  padding: 10px;
  margin-left: 35vh;
  
}
.flex-parent
{
    display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to bottom left, #00ff00 0%, #66ffff 100%);

}