/* .rtu
{
    border: 10px solid red;
    margin: 30vh;
    padding: 0;
    margin-left: 50vh;
    margin-right: 50vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
} */

/* *
{

}

.background
{
    background-image: url('../../../public/store1.PNG');
    background-color: blue;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-top: 0;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .background {
    background-image: url("../../../public/store1.PNG");
    background-size: cover;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Raleway", sans-serif;
    padding-bottom: 100vh; */
   
  }


  .rtu
  {
      /* padding-top: 120vh;
      border-color: blue;
      border: 10px solid red; */


      display: flex;
      align-items: center;
      flex-direction: column;
      height: 110vh;
      width: 43vw;
      background: rgba(255, 255, 255, 0.15);
      box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
      backdrop-filter: blur(8.5px);
      -webkit-backdrop-filter: blur(8.5px);
      border-radius: 10px;
      color: #ffffff;
      text-transform: uppercase;
      margin-left: 74vh;
      padding-top: 16vh;
      padding-bottom: 18vh;
      margin-left: 60vh;
    
     
  }



  .signup
{
  margin-bottom: 50px;
  margin-top: 10px;
  color:#ace600;
  font-weight: bolder;
 
}

.un{
    font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 16vh;
  color:#ace600;
  font-weight: bolder;
}
.input1
{
  margin-right: 18vh;
  padding:8px;
  width: 50vh;
  margin-left: 28vh;
}

.invalid
{
    font-size: 20px;
    color: red;
    font-weight: bolder;
    margin-right: 13vh;
    margin-top: 2vh
}

.em
{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 25vh;
  color:#ace600;
  font-weight: bolder;
}

.input2
{
  margin-right: 18vh;
  padding:8px;
  width: 50vh;
  margin-left: 28vh;
}

.invalid2
{
  font-size: 20px;
  color: red;
  font-weight: bolder;
  margin-right: 8vh;
  margin-top: 2vh
}

.pass
{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 13vh;
  color:#ace600;
  font-weight: bolder;
}

.btnSignup
{
  margin-right: 20vh;
  padding: 10vh;
  width: 20vh;
}
